In [1]:
#Import Library
import pickle
import json
import pandas as pd
import numpy as np

### 1. Perkenalan
Nama:Evan Aprillio B    
Batch:RMT-019  
Objective:Membuat inferencing data

### 2. Inferencing Data

In [2]:
#Load All Files
with open('model_nb_best.pkl', 'rb') as file_1:
  model_nb_best = pickle.load(file_1)

with open('model_scaler_standard.pkl', 'rb') as file_2:
  model_scaler_standard = pickle.load(file_2)

with open('list_scale_columns.txt', 'r') as file_3:
  list_scale_columns = json.load(file_3)

with open('list_norm_columns.txt', 'r') as file_4:
  list_norm_columns = json.load(file_4)

In [3]:
# Create New Data
data_inf = {
    'limit_balance': 200000,
    'sex': 1,
    'education_level':6,
    'marital_status':1,
    'age': 33,
    'pay_0': -1,
    'pay_2':  3,
    'pay_3': 2,
    'pay_4': 1,
    'pay_5': 5,
    'pay_6': 6,
    'bill_amt_1': 6550,
    'bill_amt_2': 200,
    'bill_amt_3': 500,
    'bill_amt_4': 8600,
    'bill_amt_5': 52,
    'bill_amt_6': 390,
    'pay_amt_1': 720,
    'pay_amt_2': 125000,
    'pay_amt_3': 2200,
    'pay_amt_4': 590,
    'pay_amt_5': 11000,
    'pay_amt_6': 780
}

data_inf = pd.DataFrame([data_inf])
data_inf

,limit_balance,sex,education_level,marital_status,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt_3,bill_amt_4,bill_amt_5,bill_amt_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6
0,200000,1,6,1,33,-1,3,2,1,5,...,500,8600,52,390,720,125000,2200,590,11000,780

In [5]:
data_inf_scale = data_inf[list_scale_columns]
data_inf_non_scale=data_inf[list_norm_columns]

In [6]:
# Feature Scaling
data_inf_scaled = model_scaler_standard.transform(data_inf_scale)

In [7]:
#concat antara data scaled dan non scaled
data_inf_final = np.concatenate([data_inf_scaled, data_inf_non_scale], axis=1)

In [11]:
#Predict using NB
y_pred_nb_inf = model_nb_best.predict(data_inf_final)
print("default_next_month :",y_pred_nb_inf)

default_next_month : [0]

### Kesimpulan

Berdasarkan hasil inferencing data dummy memiliki nilai prediksi 0 atau tidak akan default. tetapi sesuai dengan kesimpulan saat pembuatan model maka customer yang memiliki data ini harus ditelusuri lebih dalam lagi dan pengambilan keputusanya untuk customer ini diterima atau tidak creditnya, tidak bisa diputuskan hanya menggunakan nilai prediksi dari model ini saja